.terraform
.terraform*
*.tfstate*
.DS_Store
**/.speakeasy/temp/
**/.speakeasy/logs/
./examples/tests/terraform.tf
/examples/hello-world-examples/service-account-key.json
terraform-provider-seqera # We should not include the provider binary in the repository
